<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JHMC Academy</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div id="sidebar">
        <div id="title">
            <h1>JHMC</h1>
            <h2>Academy</h2>
        </div>
        <div class="diamond-container">
            <div class="diamond" id="item1">
                <a href="combinatorics.html">
                <i class="fas fa-dice chapter-icon"></i>
                </a>
                <div class="content">
                    <h3>Combinatorics</h3>
                    <ul>
                        <li>Counting</li>
                        <li>Probability</li>
                        <li>Identities</li>
                    </ul>
                </div>
            </div>
            <div class="diamond" id="item2">
                <i class="fas fa-calculator chapter-icon"></i>
                <div class="content">
                    <h3>Algebra</h3>
                    <ul>
                        <li>Systems</li>
                        <li>Polynomials/Functions</li>
                        <li>Factorization</li>
                    </ul>
                </div>
            </div>
            <div class="diamond" id="item3">
                <i class="fas fa-square-root-alt chapter-icon"></i>
                <div class="content">
                    <h3>Number Theory</h3>
                    <ul>
                        <li>Divisibillity/Divsors</li>
                        <li>Base Numbering</li>
                        <li>Modular Arithmetic</li>
                    </ul>
                </div>
            </div>
            <div class="diamond" id="item4">
                <i class="fas fa-cube chapter-icon"></i>
                <div class="content">
                    <h3>Geometry</h3>
                    <ul>
                        <li>Triangles</li>
                        <li>Circles</li>
                        <li>3D Shapes</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="info">
            <h3 id="info-title">Select a chapter</h3>
            <ul id="info-content">
                <li>Please hover over or click a diamond to see the details.</li>
            </ul>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
