<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combinatorics</title>
    <link rel="stylesheet" href="chaptermainstyles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <div class="top">
        <p>JHMC Academy > Combinatorics > Introduction to Counting</p>
        <h1>Introduction to Counting</h1>
    </div>
    <div class="container">
        <div class="navbar">
            <a href="index.html"><h1>JHMC Academy | Combinatorics</h1></a>
            <h4>Table of Contents</h4>
            <div class="divider"></div>
            <div class="section1 mainsection">
                <h2><a href="combinatorics.html"><i class="fa  fa-info-circle"></i> Introduction to Combinatorics</h2></a>
            </div>
            <div class="section1 mainsection">
                <h2><a href="introductiontocounting.html"><i class="fa-solid fa-calculator"></i> Intro to Counting</h2></a>
                <h3><a href="fundamentalsofcounting.html"><i class="fa fa-caret-right"></i> 1.1 Fundamentals of Counting</h3></a>
                <h3><a href="countingtechniques.html"><i class="fa fa-caret-right"></i> 1.2 Counting Techniques</h3></a>
                <h3><a href="combinatoricalidentities.html"><i class="fa fa-caret-right"></i> 1.3 Combinatorical Identities</h3></a>
                <h3><i class="fa fa-caret-right"></i> 1.4 Distinguishable vs. Indistinguishable</h3>
            </div>
            <div class="section2 mainsection">
                <h2><i class="fa-solid fa-dice"></i> Intro to Probability</h2>
                <h3><i class="fa fa-caret-right"></i> 2.1 Conditional Probability</h3>
                <h3><i class="fa fa-caret-right"></i> 2.2 Geometric Probability</h3>
            </div>
        </div>
        <div class="content-area">
            <div class="header">
                <img src="/public/img/dicecover.jpg">
                <div class="divider"></div>
                <h2>JHMC Academy | Combinatorics</h2>
                <h1>Introduction to Counting</h1>
            </div>
            <div class="content">
                <p>Counting is the more simple of the two main fields within combinatorics, so we’ll start with this one first. As stated before, counting fundamentally boils down to figuring out the number of “cases” that satisfy a certain amount of conditions. As a simple example problem, let’s say that Will the farmer has $36$ pigs on his farm, and half of them are colored blue while the other half are colored red. We want to figure out how many total blue legs (that belong to livestock) are on his farmland. Assuming that all of his pigs have 4 legs, then our answer would be \(36 \cdot 4 \cdot \frac{1}{2} =  \boxed{72}\) legs in total. Here, a case would be a leg and the condition is that they must be blue.</p>
            </div>
            <div class="navbuttons">
                <div class="previous">
                    <a href="combinatorics.html"><h1>← Introduction of Combinatorics</h1></a>
                </div>
                <div class="next">
                    <a href="fundamentalsofcounting.html"><h1>Fundamentals of Counting →</h1></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
